.header {
    height: 180px;
    background-color: #03A9F4;
    width: 100%;
    padding-top: 1px;
}

.header h2 {
    color: white;
    text-align: center;
    font-weight: bold;
}


.space-between {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
}

.followings {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.followings p {
    color: white;
    margin: 8px 0px 0px 0px;
}


.img-box {
    border-radius: 50%;
    overflow: hidden;
    height: 130px;
    width: 130px;
}

.border-white {
    border: white solid 4px;
    border-radius: 50%;
    width: fit-content;
}

.border-blue {
    border: 7px solid #006bbf;
    border-radius: 50%;
    width: fit-content;
}

.flex {
    display: flex;
    justify-content: center;
    margin-top: -76px;
}

ion-card {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }
  
  .tweet {
    padding: 10px;
  }
  
  .tweet-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 10px;
  }
  
  ion-button {
    --padding-start: 10px;
    --padding-end: 10px;
    margin-top: 5px;
  }

 
  .container {
    height: 100vh; /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 20px; /* Add padding for better spacing */
}
