
<br>
<br>
<br>


   
<ion-card *ngFor="let x of selectedpost" >

  <ion-item lines="none">

    <ion-avatar slot="start" (click)="getid(x.id)" >
      <img [src]="'assets/' + x.image "/> 
    </ion-avatar>
    <ion-label>
      <h2><b>{{x.name}}</b></h2>
    </ion-label>

    <ion-buttons slot="end">
      <ion-button >
        <ion-icon  name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>


    <ion-buttons slot="end">
      <ion-button >
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    
  </ion-item>

</ion-card>